@forward "reset";
@forward "typography";

// components
@forward "./components/navBar";

main {
    display: flex;
    scrollbar-width: none;
}

section {
    height: 100vh;
    flex: 0 0 100%;
    padding-left: 250px;
    padding-top: 30px;
}

section:nth-of-type(1) {
    background: red;
}
section:nth-of-type(2) {
    background: yellow;
}
section:nth-of-type(3) {
    background: blue;
}
section:nth-of-type(4) {
    background: green;
}

